In [1]:
import numpy as np
from matplotlib import pyplot as plt
import random
import pandas as pd
import sklearn.datasets
from sklearn.model_selection import train_test_split

In [53]:
df=pd.read_csv("balance-scale data.csv",)
df.head()

   LW  LD  RW  RD Balance
0   1   1   1   1       B
1   1   1   1   2       R
2   1   1   1   3       R
3   1   1   1   4       R
4   1   1   1   5       R

In [62]:
a=df.iloc[:,[0,1,2,3]].values
n=df["Balance"]
my_dict = {'B': 1, 'R': 1, 'L': -1}
n = [my_dict[zi] for zi in n]

In [58]:
s=np.zeros(len(a))
w=np.zeros(4)
b=0
threshold=0
learning_rate=1
epoch=2
def Activation(o):
    if o<0:
        return(-1)
    if o>=0:
        return(1)

In [61]:
for t in range(1,5):
    for i in range(len(a)):
        sum=0
        s[i]=Activation(np.sum((a[i]*w))+b)
        if (n[i]*s[i])<=0:
            w=w+(0.5*np.multiply(n[i],a[i]))
            b=b+n[i]
            s[i]=Activation(np.sum((a[i]*w))+b)      

#print(a==Y)
print(np.where(s!=n))#print(y)

(array([152, 182, 186, 278, 279, 338, 381, 438, 468], dtype=int64),)

In [60]:
print(w)

[-18.  -14.5  15.5  19. ]